<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- No security for static resources -->
	<http pattern="/resources/**" security="none" />

	<!-- Security for the rest of my mappings -->
	<http>
		<intercept-url pattern="/admin/**" access="hasAuthority('ROLE_ADMIN')" />
		<intercept-url pattern="/customer/**" access="hasAuthority('CUSTOMER')" />
		<intercept-url pattern="/**" access="permitAll" />
		<form-login login-page="/login" default-target-url="/" 
			authentication-failure-url="/login?error" username-parameter="email"  />
		<logout logout-success-url="/home" logout-url="/admin/logout"
			delete-cookies="JSESSIONID" />
			<logout logout-success-url="/home" logout-url="/customer/logout"/>
		<csrf disabled="true" />
	</http>


	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT email, password,is_active FROM Createuser WHERE email = ?"
				authorities-by-username-query="SELECT email, role FROM Createuser WHERE email = ?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>